body {
    font-family: Georgia;
    font-size: 17px;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin: 0 auto;
    max-width: 800px;
    line-height: 1.5;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: rgb(27, 27, 27);
}

#users tr td {
    padding: 15px;
    border: 1px solid white;
}
